<?xml version="1.0"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>api.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="EMAIL-FILE" class="ch.qos.logback.core.FileAppender">
        <file>email.txt</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative %-5level %logger{35} \n%msg %n</pattern>
        </encoder>
    </appender>
    <!-- additivity=false ensures analytics data only goes to the analytics log -->
    <logger name="emailNotification" additivity="false">
        <appender-ref ref="EMAIL-FILE"/>
    </logger>
    <root>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
